.main {
    width: 1200px;
    margin: 0 auto;
  }
  
  .services_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service_card {
    width: 330px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

  }
  
  .service_card_img {
    width: 33px;
    height: 32px;
    margin-bottom: 37px;
    ;
  }
  
  .service_card_text_box {
    width: 260px;
  }
  
  .service_card_title {
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 18px;
    font-weight: 400;
  }
  .service_card_text {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 288px;
  }

  .team_text {
    color: #999999;
    width: 941px;
    font-size: 15px;
    font-family: Roboto-Regular;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 91px auto;
  }
  
  /*секція команди*/
  
  .team_wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;
  }
  
  .team_card {
    width: 383px;
  }
  
  .team_card_img {
    height: 543px;
    width: 383px;
    margin-bottom: 31px;
  }
  
  .team_text_wrapper {
    width: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team_card_name {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .team_card_text {
    font-weight: 300;
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
