.header{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0px 15px;
}


.menu {
    display: inline-block;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    margin-bottom: 102px;
    margin-top: 77px;
}

.menuList{

}

.menuListItem{
list-style: none;
display: inline-block;
margin-right: 105px;
}
.menuListItem:last-child{
    margin-right: 0px;
}

.ItemLink{
    text-decoration: none;
    color: #626262;
    font-size: 14px;
    width: 88;
    text-transform: uppercase;
}

.menuListItem :hover{
    color: #03A9F4;
}












