
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }
  
  a {
  text-decoration: none;
  color: #000;
  }
  
  li {
  list-style: none;
  }

  .slider {
    width: 45%;
    margin: 5% auto;
    max-height: 400px;
  }
  
  .btn-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  #sliderImg {
    max-height: 721px;
    max-width: 100%;
    /* min-width: 1280px; */
    border: 4px aqua solid;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .invisible {
    display: none;
  }
  
  #right-button,
  #left-button {
    cursor: pointer;
    border: 3px aqua solid;
    border-radius: 9px;
    background-color: white;
    padding: 0 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(-45deg, #eb8668, #d37398, #5fbadb, #64dbbf);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #right-button img {
    width: 60px;
    height: 60px;
  }
  
  #left-button img {
    width: 60px;
    height: 60px;
  }