

@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
/* font-family: 'Erica One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
/* font-family: 'Ledger', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

#body {
    position: relative;
  }
  
  .header {
    /* background-color: rgba(0, 0, 0, 0.801); */
    background-image: url("../img/gary-runn-vc845FfNTBc-unsplash\ 1.jpeg");

    /* background-color: rgba(0, 0, 0, 0.25); */
    background-repeat:  no-repeat;
    background-size: cover;
    padding: 17px 12px;
    font-family: "Erica One", cursive;
    height: 400px;
    position: relative;
  }

  .header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.315);
    z-index: 0;
  }
  
.z-index {
    position: absolute;
    z-index: 2000;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

  .yellow {
    color: #ffd600;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    z-index: 5;
  }
  
  .name-of-team {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    z-index: 5;
    cursor: pointer;
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }
  
  .info {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    
  }
  
  .info-link {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    transition: 200ms;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
   
  }

  .info-link:hover {
    border-bottom: 2px solid  #ffd600;
    color:  #ffd600;
    z-index: 5;
  }
  
  .name-of-test {
    color: #ffd600;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    width: 75%;
    margin: 11px auto 0 auto;
    line-height: 1.5;
    z-index: 5;
  }

  #h1 {
      font-size: 55px;
      
  }
  
  .header-text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    line-height: 16px;
    z-index: 5;
  }
  
  .suggest-btn {
    display: block;
    background: #ffd600;
    border: 2px solid #ffffff;
    border-radius: 30px;
    margin: 14px auto 50px auto;
    width: 143px;
    height: 42px;
    color: black;
    font-family: "Erica One", cursive;
    font-size: 13px;
    cursor: pointer;
    position: relative;

  }
  .suggest-btn:hover {
    background: #ebc400;
  }
  
  .section1 {
    padding: 75px 32px;
  }
  
  .white-text {
    font-family: "Ledger", serif;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 47px;
    text-align: center;
  }
  
  .yellow-text {
    font-family: "Ledger", serif;
    color: #ffd600;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
  }
  
  .start-btn {
    font-family: "Erica One", cursive;
    font-weight: 400;
    display: block;
    background: #ffd600;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    width: 128px;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
  }

  .start-btn:hover {
    background: #ebc400;
  }
  
  .section2 {
    height: 195px;
    background-color: #ffd600;
    padding: 45px 39px;
  }
  
  .wishes1 {
    font-family: "Ledger", serif;
    color: black;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
    text-align: center;
  }
  
  .section2 span {
    font-family: "Erica One", cursive;
  }
  
  .wishes2 {
    margin-top: 10px;
    text-align: center;
    color: red;
  }
  
  .offer {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    display: none;
    background-color: white;
    /* border: 1px solid #000000; */
    z-index: 9999;
    box-shadow: 100px 100px 600px rgba(0, 0, 0, 0.486);
  }
  
  .x {
    width: 247px;
    height: 51px;
    background-color: #ffd600;
    margin: 0 auto 35px auto;
    /* border: 1px solid #000000; */
  }
  
  .close {
    width: 50px;
    height: 50px;
    /* border: 3px solid #000000; */
    margin-left: 80%;
    cursor: pointer;
  }
  
  .close img {
    width: 36px;
    padding-top: 7px;
    height: 40px;
    fill: seashell;
  }
  
  .text-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-offer input {
    width: 223px;
    height: 32px;
    background: #c4c4c4;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .text-offer p {
    font-family: "Ledger", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin: 4px 0;
  }
  
  .submit-movie {
    display: block;
    width: 114px;
    height: 34px;
    border-radius: 10px;
    background: #ffd600;
    border: 1px solid #000000;
    font-family: "Erica One", cursive;
    font-size: 18px;
    line-height: 27px;
    margin: 27px auto 17px auto;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .yellow {
      font-size: 36px;
      line-height: 54px;
    }
  
    .name-of-team {
      font-size: 36px;
      line-height: 54px;
    }

    /* .z-index{
        width: 300px;
    } */
  
    .info {
      width: 260px;
    }
  
    .info-link {
      font-size: 18px;
    }
  
    .name-of-test {
      font-size: 40px;
      margin: 11px auto 12px auto;
    }
  
    .header-text {
      font-size: 14px;
      width: 50%;
      line-height: 21px;
    }
  
    .suggest-btn {
      margin: 14px auto 26px auto;
      width: 200px;
      height: 55px;
      font-size: 18px;
    }
  
    .section1 {
      padding: 48px auto;
    }
  
    .white-text {
      font-size: 18px;
    }
  
    .yellow-text {
      font-size: 18px;
    }
  
    .start-btn {
      width: 184px;
      height: 58px;
      padding: 12px 0;
      font-size: 18px;
    }
  
    .section2 {
      height: 330px;
      padding: 115px 70px;
    }
  
    .wishes1 {
      line-height: 33px;
      font-size: 24px;
    }
  
    .wishes2 {
      font-size: 24px;
    }
  
    .offer {
      transform: translate(-50%, -100%);
    }
  
    .x {
      width: 282px;
      margin: 0 auto 15px auto;
    }
  
    .close {
      margin-left: 82%;
    }
  
    .text-offer input {
      width: 253px;
    }
  
    .text-offer p {
      font-size: 18px;
      margin: 20px 0 12px 0;
    }
  }

  @media (max-width: 525px) {
    #h1 {
        font-size: 35px;
        margin: 11px auto 12px auto;
      }
      .suggest-btn {
          font-size: 15px;
      }
  }