.card_wrapper {
    width: 600px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-between;
}


.card_wrapper > div {
    background: #b8ceb8;
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 7px;

}

.card_wrapper > div:hover {
    background: #a4b9a4;
    
}

#card1 {
   /* background-image: url(./moon.png); */
   background-size: contain;

   transition: 200ms;

}

#card2 {
    /* background-image: url(./star.png); */
    background-size: contain;
    transition: 200ms;
}

#card3 {
    /* background-image: url(./star.png); */
    background-size: contain;
    transition: 200ms;
}

#card4 {
    /* background-image: url(./moon.png); */
    background-size: contain;
    transition: 200ms;
}

