body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.slider {
  width: 50%;
  margin: 5% auto;
  text-align: center;
  position: relative;
  color: #333;
  font-family: "Lato", sans-serif;
}

img {
  width: 50%;
  display: inline-block;
  margin-bottom: 30px;
  display: none;
}

img:first-of-type {
  display: block;
  margin: 0 auto;
}

button {
  width: 100px;
  height: 50px;
  background-color: #333;
  border: transparent;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  background-color: rgba(102, 194, 236, 0.6);
  cursor: pointer;
  color: #333;
  font-size: 20px;
  transition: 300ms;
  box-shadow: 2px 2px 10px rgba(20, 20, 20, 0.6);
}

button:first-of-type {
  position: absolute;
  left: 30%;
  bottom: 20%;
}

button:last-of-type {
  position: absolute;
  right: 30%;
  bottom: 20%;
}

button:hover {
  background-color: rgba(76, 173, 218, 0.6);
  box-shadow: 1px 1px 10px rgba(56, 56, 56, 0.3);
}

