
:root {
    --modal-duration: 1s;
    --primary-color: rgb(48, 51, 107);
    --secondary-color:  #c74ae4;
    --primary-color-light: rgba(177, 179, 228, 0.2);
    --lato-font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--lato-font);
}

body {
    font-family: var(--lato-font);
    margin: 0;
    transition: transform 0.3s ease;
  }

body.show-nav {
    transform: translateX(200px);
    /* transition: transform 300ms ease-in-out; */
    
}

/* .fixed_block_js {
    display: initial;
    transition: transform 300ms ease-in-out;
 } */

#textH1 {
    height: 60px;
}

nav {
    background-color: var(--primary-color);
    border-right: 1px solid var(--primary-color-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    padding-top: 30px;

}

nav > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  margin-bottom: 30px;
  /* color: rgb(79, 83, 163); */

}

nav > .logo > img {
    width: 100px;
    border-radius: 50%;
}

nav > ul > li {
    padding: 20px 30px;
    border-top: 1px solid var(--primary-color-light);
}

nav > ul > li:last-child {
    border-bottom: 1px solid var(--primary-color-light);
}

a {
    color: white;
    font-family: var(--lato-font);
    text-decoration: none;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);

}

header > h1 {
    /* font-family: var(--lato-font); */
    font-weight: 700;
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
    height: 60px;
}

header > p {
    /* font-family: var(--lato-font); */
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    width: 65%;
}

.cta_btn {
    background: var(--secondary-color);
    width: 130px;
    height: 60px;
    border: none;
    border-radius: 2px;
    color: white;
    /* font-family: var(--lato-font); */
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.header_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.toggle {
    align-self: flex-start;
    margin: 20px 0px 0px 20px;
}

.toggle {
    color: white;
    background: rgba(18, 20, 51, 0.4);
    box-shadow: 2px 2px 5px rgba(18, 20, 51, 0.4);
    border: none;
    padding: 12px 15px;
    border-radius: 1px;
    cursor: pointer;
   
}

.nightDay {
    color: white;
    background: transparent;
    
    border: none;
    padding: 12px 15px;
    border-radius: 1px;
    cursor: pointer;
}

.nightDay > p {
    transition: 300ms;
    font-size: 19px;
}

.nightDay > p:hover {
   color: #f5e7f8;
   font-size: 17px;
   letter-spacing: 3px;
    text-shadow: 1px 1px 20px rgb(221, 185, 230),
    1px 1px 40px #ead7ee,
    1px 1px 60px #e3cee7,
    1px 1px 80px #e3cee7,
    1px 1px 100px #e3cee7,
    1px 1px 120px #e3cee7,
    1px 1px 150px #e3cee7;
}

main {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_2 {
    width: 70%;
    display: flex;
    flex-direction: column;

    justify-content: left;

}

h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
}

/* .fade {
    display: none;
}

.fade::before {
    content: '';
    position: fixed;
    
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 150;
} */

.fixed_block {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 43%;
    height: 60%;
    background-color: white;
    border-radius: 7px;
    box-shadow: -50px 50px 1000px rgba(0, 0, 0, 0.985);
    display: none;
    /* display: initial; */
    z-index: 200;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

/* .fixed_block {
    display: ;
} */



.fixed_block_head {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 50px;
    
}

.fixed_block_head_h2 {
    color: white;
    font-size: 26px;
    padding: 6px 0px 0px 20px;
}

.fixed_block_head_button {
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 10px 20px 0px 0px;
    cursor: pointer;
}

.fixed_block > p {
    padding: 10px 0px 0px 10px;
    font-size: 15px;
}

.form_wrapper {
    padding: 0px 15px 15px;
}

.form_wrapper_h3 {
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 18px;
}

.fixed_block_input {
    padding: 5px 10px 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #666;
}

.input_button {
    display: block;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}


@keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }