.header{
    
    width: 100%;
    display: flex;
   justify-content: center;
}

.header_container{
    background-color: white;
    width: 1200px;
    display: flex;
    
    justify-content: space-between;
    padding-top: 28px;
    height: 70px;
    margin-bottom: 128px;
    position: fixed;
    z-index: 5;
}

.logo{
    width: 86px;
    

}

.logo_link{
    color: #95E1D3;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    
}

.menu{
    width: 490px;
    margin: 13px;
}

.menu_list{
    display: flex;
    justify-content: space-between;
}

.menu_list_item{
    
}

.menu_list_item_link{
    color: #95E1D3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: solid 3px transparent;
    padding-bottom: 7px;
}

.menu_list_item_link:hover{
    border-bottom: solid 3px #f38181;
    
}

.menu_list_item_link:hover{
    color: #f38181;
}